<div class="pane2-meta">
  <div class="title">Departments</div>
  <% if can? :create, Project %>
      <%= link_to raw('<span class="fi-plus"></span> Add Department'), new_project_path, :remote => false, :class => 'button' %>
  <% end %>
</div>

<div class="data-container">
  <dl class="tabs right" data-tab >
    <dd class="active clear-tab"><a href="#active">
      Active
    </a></dd>
    <dd class="clear-tab"><a href="#archived">
      Archived
    </a></dd>
  </dl>

  <div class="tabs-content">
    <div class="content active" id="active">
      <div class="task-list" id="my-tasks">
        <div class="pane2-content scroll2watch">
          <div id="paginator" class="paginator task-paginator">
            <%= render :partial => 'projects/project_page' %>
          </div>
        </div>
      </div>
    </div>
    <div class="content" id="archived">
      <div class="task-list" id="my-tasks">
        <div class="pane2-content scroll2watch this">
          <div id="paginator"  class="paginator fin-task-paginator">
            <%= render :partial => 'projects/archived_project' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>